<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>jShoulda</string>
	<key>ordering</key>
	<array>
		<string>B012C842-9FB1-4331-BF92-488C7E95AC1B</string>
		<string>CDDD7B77-10AC-4602-BCB0-0337C3A35C0C</string>
		<string>9D59E874-A686-461F-B41F-51695B0E46E7</string>
		<string>4BFFF5A3-978C-4F45-8F33-B3330FC3E589</string>
		<string>E514D398-BCA0-43D4-82DA-E21BE3D0A17D</string>
		<string>5BB29F19-B26D-456A-AB45-1076FEC9A899</string>
	</array>
	<key>uuid</key>
	<string>4C482623-7463-4D3B-B69B-A9D9401B10B2</string>
</dict>
</plist>
